*{
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-weight: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F6F6F6;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 6px 10px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 15px; 
  font-weight: 400;
  line-height: 18px;
  border-radius: 4px;
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

.header-right a:hover {
  background-color: #EE3223;
  color: white;
}

.header-right {
  float: right;
}

.footer {
  background-color: #242424;
  color: white;
  font-size: 14px;
  padding-bottom: 8px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-left {
  float: left;
  display: flex;
}
.right {
  color: #818181;
  float: right;
}

#icon1 {
  fill: white;
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
  height: 18px;
  width: auto;
  padding-left: 8px;
}

#icon1:hover {
  fill: #EE3223;
}

#icon2 {
  fill: white;
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
  height: 18px;
  width: auto;
  padding-left: 8px;
}

#icon2:hover {
  fill: #EE3223;
}

#icon3 {
  fill: white;
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
  height: 18px;
  width: auto;
  padding-left: 8px;
}

#icon3:hover {
  fill: #EE3223;
}

.site-content {
  flex: 1;
}

#logo {
  height: 18px;
  width: auto;
}

#bg-img {
  height: 100%;
  width: 100%;
  filter: grayscale(0%);
  transition: filter 2s ease;
  -webkit-transition: filter 2s ease;
}

.main:hover #bg-img {
  filter: grayscale(100%);
}

#bg-logo {
  margin-top: 8%;
  left: 15%;
  right: 15%;
  height: auto;
  width: 70%;
  position: absolute;
}

.main {
  display: flex;
  height: 100%;
  background-color: black;
}

.welcome {
  font-size: 100px;
  color: white;
  position: relative;
}

.enter-button {
  background-color: transparent; 
  position: absolute;
  border: 3px solid #EE3223;
  border-radius: 3px;
  outline: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  width: 26%;
  height: auto;
  margin-top: 26.5%;
  left: 37%;
  right: 37%;
  background: linear-gradient(to right, #E43021 58%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position .5s ease-out;
  -webkit-transition: background-position .5s ease-out;
  cursor: pointer;
}

.enter-button:hover {
  background-position: left bottom;
}

.not-found {
  padding-left: 50px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.recent-talks {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 45px;
}

.recent-talks-header {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.recent-talks-videos {
  display: flex;
  height: 100%;
  outline: none;
}

.thumbnail {
  height: auto;
  width: 100%;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

.about {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: white;
  color: #515151;
  height: 100%;
  text-align: center;
  font-weight: 100;
}

.about-header {
  font-size: 30px;
  padding-bottom: 15px;
}

.about-text {
  font-size: 16px;
}

.divider {
  height: 2px;
  background-color: #EE3223;
}

@media only screen and (max-width: 800px) {
  html, body {
    overflow-x: hidden;
  }

  #icon1, #icon2, #icon3 {
    height: 14px;
  }

  .footer {
    display: grid;
    padding-bottom: 10px;
    font-size: 10px;
  }
  
  .footer-left {
    margin: 0 auto;
  }
  .right {
    margin: 0 auto;
    float: left;
  }

  .about {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
  }

  #bg-img {
    height: 400px;
    width: auto;
  }

  #bg-logo {
    margin-top: 105px;
    left: 5%;
    right: 5%;
    height: auto;
    width: 90%;
    position: absolute;
  }

  .enter-button {
    width: 50%;
    left: 25%;
    right: 25%;
  }

  .button-wrapper {
    padding-top: 90px;
  }

  .header-small {
    display: grid;
  }

  .header a {
    margin-top: 5px;
    padding: 5px 8px 5px 8px;
    font-size: 12px; 
  }
  
  .header-right {
    margin: 0 auto;
  }
}